{{> nav}}

<!--Main-->
<main id="characters" class="pb-5">
  <div
    id="char-header"
    class="d-flex flex-column justify-content-center align-items-center"
  >
    <h2 class="rm-header">Characters</h2>
    <div id="char-nav">
      <form action="/characters/filter" method="GET" class="mt-2">
        <h4 class="text-center">Filters
          <a class="controls" href="/characters/all/?page=1">Reset
            <i class="fa-solid fa-arrow-rotate-left fa-xs"></i></a>
          <a class="controls" href="/characters/random">Random
            <i class="fa fa-shuffle fa-xs"></i></a>
        </h4>
        <div class="row g-2 filters">
          <div class="col-6">
            <input
              class="form-control fw-bold"
              type="text"
              name="name"
              id="name"
              placeholder="Name"
            />
          </div>
          <div class="col-6">
            <select class="form-select fw-bold" name="status" id="status">
              <option value="none">Status</option>
              <option value="alive">Alive</option>
              <option value="dead">Dead</option>
              <option value="unknown">Unknown</option>
            </select>
          </div>
          <div class="col-6">
            <select class="form-select fw-bold" name="species" id="species">
              <option value="none">Species</option>
              <option value="human">Human</option>
              <option value="humanoid">Humanoid</option>
              <option value="animal">Animal</option>
              <option value="alien">Alien</option>
              <option value="robot">Robot</option>
              <option value="mythological creature">Mythological Creature</option>
              <option value="cronenberg">Cronenberg</option>
              <option value="disease">Disease</option>
              <option value="unknown">Unknown</option>
            </select>
          </div>
          <div class="col-6">
            <select class="form-select fw-bold" name="gender" id="gender">
              <option value="none">Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="genderless">Genderless</option>
              <option value="unknown">Unknown</option>
            </select>
          </div>
          <div class="col-12 d-flex justify-content-end">
            <input
              class="d-none"
              type="number"
              name="page"
              id="page"
              value="1"
            />
            <button class="submit-filters" type="submit">Submit Filters</button>
          </div>
        </div>
        <br />
        <div class="text-center">
          {{#if response.results}}
            <h5>Found
              <span class="result-count">{{response.info.count}}</span>
              result(s)</h5>
            <h5>Pages:
              <span class="result-count">{{response.info.pages}}</span></h5>
            <h5>
              {{{paginate
                pagination
                paginationClass="pagination pagination-sm justify-content-center flex-wrap"
                leftText="Prev"
                rightText="Next"
              }}}
            </h5>
          {{/if}}
          {{#unless response.results}}
            {{#unless response.error}}
              <h5>Here are
                <span class="result-count">{{response.length}}</span>
                random characters.</h5>
            {{/unless}}
            {{#if response.error}}
              <h5>There's
                <span class="result-count">nothing</span>
                in here.</h5>
              <div class="d-flex justify-content-center">
                <img src="/img/nothing.png" style="width: 200px" />
              </div>
            {{/if}}
          {{/unless}}
        </div>
      </form>
    </div>
  </div>
  <div
    id="char-grid"
    class="container m-auto pb-5 row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3 g-md-4 g-lg-5">
    {{#if response.results}}
      {{#each response.results}}
        {{> character-grid}}
      {{/each}}
    {{/if}}
    {{#unless response.results}}
      {{#unless response.error}}
        {{#each response}}
          {{> character-grid}}
        {{/each}}
      {{/unless}}
    {{/unless}}
  </div>
  <div class="text-center text-white">
    {{#if response.results}}
      <h5>Found
        <span class="result-count">{{response.info.count}}</span>
        result(s)</h5>
      <h5>
        {{{paginate
          pagination
          paginationClass="pagination pagination-sm justify-content-center"
          leftText="Prev"
          rightText="Next"
        }}}
      </h5>
    {{/if}}
    {{#unless response.results}}
      {{#unless response.error}}
        <a class="controls" href="/characters/random">Reshuffle
          <i class="fa fa-shuffle fa-xs"></i></a>
      {{/unless}}
    {{/unless}}
  </div>
</main>
    
{{> footer}}